@page
@model ITP.WebApp.Pages.Customers.ViewModel
@{
    ViewData["Title"] = "View";
}

<h4>Customer View</h4>
<input hidden value="@Model.CustomerId" />

<div class="icon-preview col s6 m3 first-button">
    <a asp-page="../Customers/Index" class="btn-floating btn-medium waves-effect waves-light white">
        <i class="material-icons dp48 button-item button-item-hover">arrow_back</i>
        <span class="btn-text">Return</span>
    </a>
</div>

    <div class="col card-content-size">
        <h5 class="header">@Model.Customer.Name  @Model.Customer.LastName</h5>
        <div class="card horizontal">
            <div class="card-image">
                <img class="card-image-size" src="~/img/users_icon.png">
            </div>
            <div class="card-stacked">
                <div class="card-content s4">
                    <input hidden asp-for="Customer.Id" />
                    <div class="row row-data">
                        <div class="col s6">
                            <span for="doc">Doc Number</span>
                        </div>
                        <div class="col s4">
                            <span for="doc">@Model.Customer.DocNumber</span>
                        </div>
                    </div>
                    <div class="row row-data">
                        <div class="col s6">
                            <span for="age">Age</span>
                        </div>
                        <div class="col s4">
                            <span for="age">@Model.Age</span>
                        </div>
                    </div>
                    <div class="row row-data">
                        <div class="col s6">
                            <span for="city">City</span>
                        </div>
                        <div class="col s4">
                            <span for="city">@Model.Customer.City</span>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
<br />

<div>
    <partial name="_IndexVehiclePartial" model="Model.Vehicles" />
</div>