@page
@model ITP.WebApp.Pages.Vehicles.AddModel
@{
    ViewData["Title"] = "Add Vehicle";
}

<h2>Add Vehicle</h2>

<div class="icon-preview col s6 m3 first-button">
    <a asp-page="../Customers/Index" class="btn-floating btn-medium waves-effect waves-light white">
        <i class="material-icons dp48 button-item button-item-hover">arrow_back</i>
        <span class="btn-text">Return</span>
    </a>
</div>

<input hidden value="@Model.CustomerId" />
<div class="row container-user-card">
    <div class="col card-content-size">
        <h5 class="header">@Model.Customer.Name  @Model.Customer.LastName</h5>
        <div class="card horizontal">
            <div class="card-image">
                <img class="card-image-size" src="~/img/users_icon.png">
            </div>
            <div class="card-stacked">
                <div class="card-content s4">
                    <input hidden asp-for="Customer.Id" />
                    <div class="row row-data">
                        <div class="col s7">
                            <span for="doc">Doc Number</span>
                        </div>
                        <div class="col s5">
                            <span for="doc">@Model.Customer.DocNumber</span>
                        </div>
                    </div>
                    <div class="row row-data">
                        <div class="col s7">
                            <span for="age">Age</span>
                        </div>
                        <div class="col s5">
                            <span for="age">@Model.Age</span>
                        </div>
                    </div>
                    <div class="row row-data">
                        <div class="col s7">
                            <span for="city">City</span>
                        </div>
                        <div class="col s5">
                            <span for="city">@Model.Customer.City</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 add-veh-container">
        <h4>Add Vehicle To Customer</h4>
        <form method="post">
            <input hidden asp-for="Vehicle.CustomerId" value="@Model.CustomerId" />
            <div class="input-field col s4">
                <input id="brand" type="text" class="validate" asp-for="Vehicle.Brand">
                <label for="brand">Brand</label>
            </div>
            <div class="input-field col s4">
                <input id="model" type="text" class="validate" asp-for="Vehicle.Model">
                <label for="model">Model</label>
            </div>
            <div class="input-field col s4">
                <input id="year" type="number" class="validate" min="2000" max="@Model.MaxYear" asp-for="Vehicle.Year">
                <label for="year">Year</label>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-team" data-ajax-update="#VehicleList">
                    ADD VEHICLE
                </button>
            </div>
        </form>
    </div>
</div>
<hr />

<br />
<br />
<br />
