@page
@model ITP.WebApp.Pages.Insurances.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add Insurance</h1>
<h3>Insurance Information</h3>
<div class="row ins-container">
    <div class="col">
        <h5 class="ins-title">Customer Information</h5>
        <div class="row col s12">
            <div><span>@Model.Customer.Name @Model.Customer.LastName</span></div>
            <div><span>@Model.Customer.DocNumber</span></div>
            <div><span>@Model.Customer.City</span></div>
        </div>
    </div>
    <div class="col">
        <h5 class="ins-title">Car Information</h5>
        <div class="row col s12">
            <div><span>@Model.Vehicle.Brand</span></div>
            <div><span>@Model.Vehicle.Model</span></div>
            <div><span>@Model.Vehicle.Year</span></div>
        </div>
    </div>
    <div class="col s2">
        <img class="ins-img" src="~/img/kia-front.png" alt="KIA SPORTAGE" />
    </div>
</div>
<form method="post">
    <input hidden asp-for="Insurance.VehicleId" />
    <input hidden asp-for="Insurance.CustomerId" />
    <input hidden asp-for="Insurance.Id" />
    <input hidden asp-for="Insurance.City" />
    <h3>Insurance Price</h3>
    <div class="row">
        <table class="responsive-table striped s6 ins-table">
            <tr>
                <td class="">Base Price</td>
                <td>
                    @Model.Insurance.Baseprice.ToString("C")
                    <input hidden asp-for="Insurance.Baseprice" />
                </td>
            </tr>
            <tr>
                <td>Increase By Age</td>
                <td>
                    @Model.Insurance.IncreaseByAge.ToString("C")
                    <input hidden asp-for="Insurance.IncreaseByAge" />
                </td>
            </tr>
            <tr>
                <td>Increase By City</td>
                <td>
                    @Model.Insurance.IncreaseByCity.ToString("C")
                    <input hidden asp-for="Insurance.IncreaseByCity" />
                </td>
            </tr>
            <tr>
                <td>Increase By Car</td>
                <td>
                    @Model.Insurance.IncreaseByCar.ToString("C")
                    <input hidden asp-for="Insurance.IncreaseByCar"/>
                </td>
            </tr>
            <tr>
                <td>Total Price</td>
                <td>
                    <strong class="total-ins">@Model.Insurance.Total.ToString("C")</strong>
                    <input hidden asp-for="Insurance.Total"/>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-team"
                       asp-page="../Customers/View"
                       asp-route-customerid="@Model.Customer.Id">
                        CANCEL
                    </a>
                </td>
                @if (Model.Age < 16)
                {
                    <td>
                        <span class="warning-age">
                            Por su edad no es <br />
                            posible adquirir un seguro
                        </span>
                    </td>
                }
                else
                {
                    <td>
                        <button type="submit"
                                class="btn btn-team">
                            ACCEPT
                        </button>
                    </td>
                }
            </tr>
        </table>
    </div>
</form>
<br />
<br />
